
.nav-link {
    font-weight: regular;
    font-size: 1.1rem;
    color: #fff !important;
    transition: color 0.3s ease;
  }

  .navbar {
    background-color: #0073E6; 
  }
  
  
  .nav-link:hover {
    color: #E8C50D !important;
  }
  
  .navbar-brand {
    letter-spacing: 0.1rem;
  }
  
  @media (max-width: 768px) {
    .nav-link {
      margin: 0.5rem 0;
    }
  }

  
  